<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">
  <!-- Servlets -->
  <servlet>
    <servlet-name>UserReadyServlet</servlet-name>
    <servlet-class>com.ntnu.game.usermgmt.UserReadyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserEarlierReadyServlet</servlet-name>
    <servlet-class>com.ntnu.game.usermgmt.UserEarlierReadyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GameResetServlet</servlet-name>
    <servlet-class>com.ntnu.game.GameResetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GameStateServlet</servlet-name>
    <servlet-class>com.ntnu.game.GameStateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UserInformationServlet</servlet-name>
    <servlet-class>com.ntnu.game.usermgmt.UserInformationServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PlayerChosenServlet</servlet-name>
    <servlet-class>com.ntnu.game.model.gameLogic.finale.PlayerChosenServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReflectionServlet</servlet-name>
    <servlet-class>com.ntnu.game.model.gameLogic.finale.ReflectionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ReflectionChatServlet</servlet-name>
    <servlet-class>com.ntnu.game.model.gameLogic.finale.ReflectionChatServlet</servlet-class>
  </servlet>
   <servlet>
  <servlet-name>NextRoundServlet</servlet-name>
    <servlet-class>com.ntnu.game.model.gameLogic.finale.NextRoundServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>MinigameActionsServlet</servlet-name>
    <servlet-class>com.ntnu.game.model.gameLogic.minigame.MinigameActionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserReadyServlet</servlet-name>
    <url-pattern>/userReady</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserEarlierReadyServlet</servlet-name>
    <url-pattern>/userEarlierReady</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameResetServlet</servlet-name>
    <url-pattern>/gameReset</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GameStateServlet</servlet-name>
    <url-pattern>/gameState</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UserInformationServlet</servlet-name>
    <url-pattern>/userInformation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PlayerChosenServlet</servlet-name>
    <url-pattern>/playerChosen</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReflectionServlet</servlet-name>
    <url-pattern>/reflection</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReflectionChatServlet</servlet-name>
    <url-pattern>/reflectionChat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NextRoundServlet</servlet-name>
    <url-pattern>/nextRound</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MinigameActionsServlet</servlet-name>
    <url-pattern>/minigame</url-pattern>
  </servlet-mapping>
  
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Werewolf.jsp</welcome-file>
  </welcome-file-list>
  
</web-app>
